@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-manrope);
  --font-sans: var(--font-inter);
  --font-decoration: var(--font-montez);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
}

:root {
  --background: #ffffff;
  --foreground: #6e7070;
  --primary: #1ca8cb;
  --primary-foreground: #ffffff;
  --secondary: #113d48;
  --secondary-foreground: #ffffff;
  --destructive: #ff4d4d;
  --border: #bcced2;
  --input: #ffffff;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-base leading-relaxed font-normal;
  }
  html {
    @apply font-sans;
  }
}

@utility uw-container {
  @apply mx-auto w-full max-w-330 px-3;
}

